---
services:
  heimdall:
    image: linuxserver/heimdall:2.7.1
    container_name: {{ heimdall_container_name }}
    hostname: {{ heimdall_container_name }}
    environment:
      - PUID=1000
      - PGID=1000
      - TZ={{ timezone }}
    volumes:
      - heimdall_config:/config
    ports:
      - "{{ heimdall_host_port }}:80"
      - "8443:443"
    restart: unless-stopped
    networks:
      - proxy-network

volumes:
  heimdall_config:

networks:
  proxy-network:
    external: true