---

services:
  openvpn-as:
    image: {{ openvpn_image }}
    container_name: {{ openvpn_container_name }}-as
    hostname: {{ openvpn_container_name }}
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    ports:
      - "{{ vpn_host_port }}:943"
      - "1194:1194/udp"
      - "444:443"
    volumes:
      - openvpn_data:/usr/local/openvpn_as
{% for storage_mount in shared_storage_mounts | default([]) %}
      - type: bind
        source: {{ storage_mount.source }}
        target: {{ storage_mount.target }}
        read_only: {{ 'true' if storage_mount.read_only | default(false) else 'false' }}
{% endfor %}
    environment:
      TZ: '{{ timezone }}'
      OPENVPN_AS_HOST: '{{ openvpn_hostname }}'
    networks:
      - homelab-bridge
    sysctls:
      - net.ipv4.ip_forward=1

volumes:
  openvpn_data:
    driver: local

networks:
  homelab-bridge:
    name: homelab-bridge
    external: true